body {
      font-family: 'Segoe UI', sans-serif;
      background-color: #f4f4f8;
      margin: 0;
      padding: 0;
    }

.products-list
{
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}



    header
    {
    display: flex;
    position: absolute;
    width: 1440px;
    height: 192px;
    left: 0px;
    top: 0px;

    background-color: #4b2c7d;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 1.2em;

    }


    .search-block
    {

      position: absolute;
      width: 1142px;
      height: 141px;
      left: 149px;
      top: 224px;

      background: #D9D9D9;
      border-radius: 40px;
    }

    .search-bar {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      padding: 15px;

      width: 1142px;
      height: 141px;

    }
    .search-bar input, .search-bar datalist {
      padding: 8px;
      font-size: 1em;
      width: 250px;
      height: 54px;
    }

    .search-bar button
    {

      width: 100px;
      height: 54px;

      background-color: #4b2c7d;
      color: white;
      border-radius: 6px;
    }

    .search-bar button:hover
    {
      background-color: #7247b6;
    }

    .buttonChange
    {
      width: 40px;
      height: 40px;
      left: 442px;
      top: 275px;

      background: #4b2c7d;

      border-radius: 10px;

      text-align: center;
      color: white
    }

    .buttonChange:hover
    {
      background-color: #7247b6;
    }

    .results-menu
    {
      display: flex;
      justify-content: center;
      
      position: absolute;
      width: 1326px;
      height: fit-content;
      left: 69px;
      top: 397px;
      padding: 10px;

      background: #4b2c7d;
      opacity: 0.9;

    }

    .up_panel
    {
      display: flex;
      gap: 50px;
      text-align: center;
      height: 50px;
    }

    .cash:hover
    {
      text-decoration: underline;
      color: greenyellow;
    }

    .button_cash
    {
      display: flex;
      width: 100%;
    }

    .up_panel_cash
    {
      text-align: center;
      position: absolute;
    }

    .results {
      max-width: 800px;
      margin: 20px auto;
    }

    .card {
      background-color: white;
      border-radius: 8px;
      padding: 20px;
      margin-bottom: 15px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      display: flex;
    
    }

    .card-body
    {
      display: flex;
        flex-direction: column;
      justify-content: space-around;

    }
    .card h3 {
      margin-top: 0;
      color: #4b2c7d;
    }
    .time-info {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
    }
    .price-info {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
    }
    .badge {
      display: inline-block;
      background-color: #ffb700;
      color: #333;
      padding: 3px 8px;
      border-radius: 12px;
      font-size: 0.8em;
    }